{% extends 'base.html' %}
{% block title%}{{ site_data['name'] }}{% endblock %}
{% block logo %}{{ site_data['logo'] }}{% endblock %}
  {% block content %}
 <!-- ======= Contact Section ======= -->
 <section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Add New Item</h2>
      </header>

     
      <div class="row gy-4">
        
         

        <div class="col-lg-12">
          <form method="post" class="php-email-form">

            <div class="row gy-4">
              <div class="col-md-12">
               <div id="map" style="height: 600px;">This is the map</div>
              </div>

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
                <div class="col-md-12 text-center">
                  <div id="map"></div>
                </div>
                <input type="hidden" name="lat" id="lat" value="">
                <input type="hidden" name="long" id="long" value="">
                <button type="submit">Send Message</button>
              </div>

            </div>
          </form>

        </div>

      </div>

    </div>

  </section><!-- End Contact Section -->


  
 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}

{% block extrajs %}
<script>
  
    
    var map = L.map('map', {
        zoomControl: false,
        zoomSnap: 0.25,
        zoomDelta: 0.125,
        wheelPxPerZoomLevel: 60,
        zoomControl: false,
      }).setView([36.26490471823096, -37.35054994598953], 3);
      var wmsLayer = L.esri.basemapLayer('ImageryClarity').addTo(map);
      // get current lat long, give default if none
      {% if item %}
      let lat = {{ item.lat|safe }};
      $('#lat').val(lat);
      let long = {{ item.long|safe }};
      $('#long').val(long);
      let marker = L.marker([lat,long]).addTo(map);
      {% else %}
      let marker = null;
      {% endif %}
      // add point to map 
      // set lat long on click 
      
      map.on('click', function(e) {
        if (marker){
          marker.setLatLng(e.latlng);
          lat = e.latlng.lat;
          $('#lat').val(lat);
          long = e.latlng.lng;
          $('#long').val(long);
        }
        else {
          marker = L.marker(e.latlng).addTo(map);
          lat = e.latlng.lat;
          $('#lat').val(lat);
          long = e.latlng.lng;
          $('#long').val(long);
        }
    });
</script> 
{% endblock %}